/*!
 * @since 1.0
 * @licence GNU GPL v2+
 *
 * @author mwjames
 */
.suc-tooltip {
	min-width: 250px;
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.suc-tooltip-cache-indicator {
	float: right;
}

.suc-tooltip-cache-browser::after {
	content:"◐"; /* &#9680; */
}

.suc-tooltip-cache-backend::after {
	content:"◑"; /* &#9681; */
}
